.form-container {
    width: 100%;
    padding: 25px;
}

@media screen and (max-width: 768px) {
    .form-container {
        transform: translateY(-70px);
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }
}