@import "../../defaultSetting";


    table {
        border-spacing: 0;

        th, td {
            border: 0.5px solid $cool-grey;
        }
        thead th {
            padding: 10px;
            text-align: center;
            // background-color: #f8bcbc;
            background-color: $marine-blue;
            color: white;
        }

        tbody td {
            padding: 10px;
            text-align: center;
        }

        
    }

    button {
        align-self: center;
    }




.delete-cell {
    color: red;
    cursor: pointer;
    border: none;
}

.delete-cell:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    table {
      overflow-x: auto;
    }
    thead {
      display: none;
    }
    tbody td {
      display: block;
      text-align: left;
    }
    tr {
      margin-bottom: 15px;
      display: block;
    }
}