@import "../../defaultSetting";

.sidebar {
    background-image:url("../../../public/assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    height: 600px;

    button {
        display: block;
        margin: 0 auto;
    }


    button:hover {
        opacity: 0.9;
    }
}


@media screen and (max-width: 768px) {
    .sidebar {
        height: auto;
        background-image: url("../../../public/assets/images/bg-sidebar-mobile.svg");
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        border-radius: 0;
        button {
            margin-top: 8px;
        }
    }
}
