@import "../../defaultSetting";

.pickadd-on {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  padding: 40px 30px 0 30px;
  width: 70%;

  &__form {
    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .pickadd-on {
    width: 100%;
    padding: 0;

    &__form {
      font-size: 12px;

      &-buttons {
        margin-top: 0;
        position: absolute;
        bottom: -127px;
        justify-content: space-between;
        width: 90vw;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .pickadd-on {
    width: 100%;
  }
}
